<nav class="navbar navbar-dark bg-info" role="navigation">
    {{!-- <a class="navbar-brand pull-right" href="#">Brand</a> --}}
    <div class="navbar-header">
        <p class="welcome">Welcome <span class="member-name"></span><span class="member-id"></span></p>
    </div>
      <a class="navbar-brand pull-right logout" href="/logout">
        Logout
      </a>
  </div>
</nav>
  
  {{!-- <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> --}}
        <h1 class="bookTracker">Book Tracker</h1>
      {{!-- </div>
    </div>
  </div> --}}
  {{!-- <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3"> --}}
        {{!-- <h3>Welcome <span class="member-name"></span><span class="member-id"></span></h3> --}}
      {{!-- </div>
    </div>
  </div>
  <br> --}}
  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{!-- <h4 class="header">Search for Books!</h4> --}}
        <div>
          <input class="input" class="form-control mr-sm-2" type="search" placeholder="Search for book" aria-label="Search">
          <button class="searchButton btn btn-primary" type="submit">Search</button>
        </div>
        <div class="bookList"></div>
      </div>

    <div class="col-md-4">
      <h4 class="currentRead">Currently Reading!</h4>
      <div class="bookSelected"></div>   
    </div>

    <div class="col-md-4">
      <h4 class="readBook">Books Read!</h4>
      <div class="bookRead"></div>
    </div>

  </div>
</div>
  



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script type="text/javascript" src="js/googlebook.js"></script>
